@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --black: #263238;
    --d_grey: #4d4d4d;
    --grey: #717171;
    --l_grey: #89939e;
    --grey-blue: #abbed1;
    --silver: #f5f7fa;
    --white: #ffffff;

    --primary: #28cb8b;
    --secondary: #263238;
    --info: #2194f3;

    --shade1: #43a046;
    --shade2: #388e3b;
    --shade3: #237d31;
    --shade4: #1b5e1f;
    --shade5: #103e13;

    --tint1: #66bb69;
    --tint2: #81c784;
    --tint3: #a5d6a7;
    --tint4: #c8e6c9;
    --tint5: #e8f5e9;

    --warning: #fbc02d;
    --error: #e53835;
    --success: #2e7d31;
  }

  body {
    @apply text-[#212121];
  }

  h1 {
    @apply font-semibold text-[64px] leading-[76px];
  }

  h2 {
    @apply font-semibold text-[36px] leading-[44px];
  }

  h3 {
    @apply font-semibold text-[28px] leading-[36px];
  }

  h4 {
    @apply font-semibold text-[20px] leading-[28px];
  }

  p,
  .body1 {
    @apply text-[28px] leading-[36px];
  }

  .body2 {
    @apply text-[26px] leading-[24px];
  }

  .body3 {
    @apply text-[14px] leading-[20px];
  }

  .body4 {
    @apply text-[12px] leading-[16px];
  }
}
